<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruth's Childminding</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>

<body>
<!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand">
            <img src="/static/childcare_logo.png" alt="Logo" class="d-inline-block align-text-centre" height="80px"/> Ruths Childminding
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto py-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
              </li>           
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  More Info
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/useful-links/">Useful Links</a></li>
                  <li><a class="dropdown-item" href="/Q&A/">Q&A</a></li>
                  <li><a class="dropdown-item" href="/EYFS/">The EYLF</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <a class="btn btn-login btn-outline-success" href="/login/" type="submit">Login</a>
              <a class="btn btn-signup btn-outline-success" href="/sign-up/" type="submit">Sign Up</a>
            </form>
          </div>
        </div>
    </nav>
<!-- Title image -->
      <img class="bg-image" src="/static/title image.jpg" alt="background image">
<!-- Header -->
    <header class="cover">
        <div class="container">
          <div class="cover-heading">Ruth's Childminding</div>
          <div class="cover-subheading text-uppercase">
            A place to Play, Learn & Grow together!
          </div>
        </div>
    </header>
    <br>
    <br>
<!-- Log In -->
<section id="about" class="welcome">
  <div class="container-fluid">
      <h1 class="title-header1">Log</h1>
      <h3 class="title-header2">In</h3>
      <div class="container">
        <div class="popup-message">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          {{ message }}  
          {% endfor %}
          {% endif %}
          {% endwith %}
          <br>
        </div>
        <form class="form" action="/login/" method="POST">
        <label class="form__label" for="email">Email: *</label>
        <input class="form__textarea" type="email" name="email" required>
        <br>
        <br>
        <label class="form__label" for="subject">Password: *</label>
        <input class="form__textarea" type="password" name="password" required>
        <br>
        <br>
        <button class="form__submit" type="submit">Submit</button>
        </form>
        <br>
        <br>
    </div>
</div>
</section>
<!-- Footer -->
    <footer class="footer">
      <div class="container">
          <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 my-5">
          <div class="col mb-2">
              <a class="footer-brand">
                  <img src="/static/childcare_logo.png" alt="Logo" class="d-inline-block align-text-centre" height="80px"/>
              </a>
              <p class="logo-footer">Ruth's Childminding © 2023</p>
          </div>
  
          <div class="col-md-2">
              <h5 class="mb-3 heading">Contact Us</h5>
              <h6 class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"></path>
                </svg> Address</h6>
              <p>3 Orchard Close, Tilney St Lawrence, Kings Lynn, PE34 4FH</p>
              <h6 class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                  <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                </svg> Contact Number</h6>
              <a class="contact-num" href="tel:07987654321">
                  <p>07987 654321</p>
              </a>
              <h6 class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                  <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                </svg> Email</h6>
                <p>ruth.stanley@childminding.co.uk</p>
          </div>
        
          <div class="col-mb-2 text-center">
              <h5>Links</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#home" class="nav-link p-0 text-body-secondary">Home</a></li>
                <li class="nav-item mb-2"><a href="#about" class="nav-link p-0 text-body-secondary">About</a></li>
                <li class="nav-item mb-2"><a href="#services" class="nav-link p-0 text-body-secondary">Services</a></li>
                <li class="nav-item mb-2"><a href="#contact" class="nav-link p-0 text-body-secondary">Contact</a></li>
                <li class="nav-item mb-2"><a href="/useful-links/" class="nav-link p-0 text-body-secondary">Useful Links</a></li>
                <li class="nav-item mb-2"><a href="/Q&A/" class="nav-link p-0 text-body-secondary">Q & A</a></li>
                <li class="nav-item mb-2"><a href="/EYFS/" class="nav-link p-0 text-body-secondary">The EYLF</a></li>
              </ul>
          </div>
        
          <div class="col-mb-6">
              <h5>Where we are</h5>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d65087.00848455046!2d0.30746587542898096!3d52.68146107454137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d81dff18e073db%3A0x260e1ca9dacff4f2!2sTilney%20St%20Lawrence%2C%20King&#39;s%20Lynn%20PE34%204QQ!5e0!3m2!1sen!2suk!4v1681222423431!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          </footer>
      </div>
      </footer>
  
      <script src="/static/js/scripts.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>